<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul>
      <a href="<%= pages_one_path %>">One</a>
      <%= link_to "Two", pages_two_url %> 
      <a href="<%= pages_three_path %>">Three</a>
    </ul>
    <%= yield %>
  </body>
</html>
